In [1]:
print("Mars Tech")

Mars Tech

In [3]:
inst=input("Enter Your Institute Name : ")

Enter Your Institute Name :  Mars Tech

In [5]:
name=input("Enter Your Name :")
age=int(input("Enter Your Age :"))
school=input("Enter Your School Name : ")
degree=input("Enter Your Degree :")

Enter Your Name : Raj
Enter Your Age : 15
Enter Your School Name :  Guru School
Enter Your Degree : B.E CSE

In [7]:
a=43
b=34
add=a+b

print("a=",a)
print("b=",b)
print("add",add)

a= 43
b= 34
add 77

In [9]:
a=43
b=34
sub=a-b

print("a=",a)
print("b=",b)
print("sub",sub)

a= 43
b= 34
sub 9